.header {
  width: 100%;
  background-color: var(--clr-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.15);
}

.header_menu {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_link {
  height: 60px;
  width: 60px;
}

.logo {
  height: 100%;
  width: 100%;
}

.hamburger_menu {
  border: none;
  background-color: transparent;
  font-size: 27px;
  cursor: pointer;
}
