@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --clr-primary: #fff;
  --clr-secondary: #000;
  --clr-accent: #cd825b;
  --clr-bg: #fdfbf8;
  --clr-bg-dark: #efe5db;
  --clr-footer: #333;
  --clr-nav: rgba(51, 51, 51, 0.5);
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

#home, #offer, #services, #about, #works, #contacts {
  scroll-margin-top: 60px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--clr-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent);
}

@media screen and (min-width: 600px){
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px){
  html {
    font-size: 18px;
  }
}