.navbar {
  position: fixed;
  top: -135px;
  left: 0;
  width: 100%;
  background-color: var(--clr-nav);
  transition: .2s linear;
  z-index: 9;
}

.active {
  top: 80px;
  left: 0;
}

.nav_links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links_item {
  display: inline-block;
  padding: 0.5rem 1rem;
  
}

.link {
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--clr-primary);
}

@media screen and (min-width: 650px) {
  .navbar {
    top: 40px;
  }

  .active {
    top: 80px;
  }

  .nav_links {
    flex-direction: row;
  }
}